@model Auction.Models.LoginViewModel
<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="Index" class="logo">
            <img src="/Content/images/logo.png" alt="" />
        </a>
    </div>
</header>
<!-- Main -->
<div id="main">
    <div class="inner">
        <header style="text-align: center;">
            <h1>Аукцион ДельтаКредит</h1>
            <h3>Вход</h3>
        </header>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div style="width: 50%; margin: 0 auto;">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль", type="password" })
                <div style="margin-top: 8%; text-align: center;">
                    <input type="submit" class="button special" value="Войти" />
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
</div>