@model Auction.Models.RegisterViewModel
<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="Index" class="logo">
            <img src="/Content/images/logo.png" alt="" />
        </a>
    </div>
</header>
<!-- Main -->
<div id="main">
    <div class="inner">
        <header style="text-align: center;">
            <h1>Аукцион ДельтаКредит</h1>
            <h3>Регистрация</h3>
        </header>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div style="width: 50%; margin: 0 auto;">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
                @Html.TextBoxFor(m => m.Coints, new { @class = "form-control", placeholder = "Монеты" })
                @Html.DropDownListFor(m => m.Group, new SelectList(
                          new List<Object>{
                               new { value = "Группа 1" , text = "Группа 1" },
                               new { value = "Группа 2" , text = "Группа 2" }
                            },
                          "value",
                        "text"), new { @class = "form-control" })
                <div style="margin-top: 8%; text-align: center;">
                    <input type="submit" class="button special" value="Зарегистрироваться" />
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
</div>