<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="/Home/Index" class="logo">
            <img src="/Content/images/logo.png" alt="" />
        </a>
        <!-- Nav -->
        <nav>@User.Identity.Name<br/>Баланс: @ViewBag.Coints<span class="icon fa-btc"></span></nav>
    </div>
</header>

<!-- Main -->
<div id="main">
    <div class="inner">
        <header style="text-align: center;">
            <h1>Аукцион #ProКачка</h1>
            <h3 style="color:black;">До конца Большой #ProКачки осталось:</h3>
            <script src="http://megatimer.ru/s/a11003fdf036516ac368e7824d9c07e7.js"></script>
        </header>
        <section class="tiles">
            @foreach (var item in ViewBag.Items)
            {
                <article class="">
                    <span class="image">
                        <img src="@item.Image" alt="" />
                    </span>
                    <a href="/Home/Item/@item.Id">
                        <div class="content">
                            <h2>@item.Name</h2>
                            <span>Текущая ставка:</span>
                             @if (item.DefaultBet >= item.LastBet)
                             {
                                <br><span>@item.DefaultBet <span class="icon fa-btc"></span></span>
                             }
                             else
                             {
                                <br><span>@item.LastBet <span class="icon fa-btc"></span></span>
                             }
                            <br><span>Шаг ставки:</span>
                            <br><span>@item.Step <span class="icon fa-btc"></span></span>
                        </div>
                    </a>
                </article>
            }
        </section>
    </div>
</div>