<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="/Home/Index" class="logo">
            <img src="/Content/images/logo.png" alt="" />
        </a>
        <nav style="right: 120px; top: 50px; color: black;">Баланс: @ViewBag.Coints <span class="icon fa-btc"></span></nav>
        <!-- Nav -->
        <nav style="z-index:2;">
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Modal -->
<div id="modal_form">
    <h1>История ставок</h1>
    <textarea rows="9" class="area" disabled>
       @foreach(var story in ViewBag.Stories)
       {
           string st = story.Time + " - " + story.User + " - " + story.NewBet + "\n";
           @st
       } 
    </textarea>
</div>
<div id="overlay"></div>

<!-- Menu -->
<nav id="menu">
    <h2>Меню</h2>
    <ul>
        <li>Логин: @User.Identity.Name</li>
        <li>Баланс: @ViewBag.Coints <span class="icon fa-btc"></span></li>
        <li><a href="/Account/LogOff">Выйти</a></li>
    </ul>
</nav>

<!-- Main -->
<div id="main">
    <div class="inner textcenter">
        <h1>@ViewBag.Name</h1>
        <div class="inline">
            <div class="fleft">
                <span class="image main">
                    <img src="@ViewBag.Image" alt="" />
                    <h3>До конца аукциона осталось:</h3>
                    <script src="http://megatimer.ru/s/39ac4279881defe5f43037c562db2f34.js"></script>
                </span>
            </div>
            <div id="bet">
                <h2>Текущая ставка:</h2>
                <h4>@ViewBag.LastUser</h4>
                <h4>@ViewBag.LastBetTime</h4>
                <h1>@ViewBag.LastBet <span class="icon fa-btc"></span></h1>
                <h2>Шаг ставки:</h2>
                <h1>@ViewBag.Step <span class="icon fa-btc"></span></h1>
                @using (Ajax.BeginForm("Item", "Home", new AjaxOptions { UpdateTargetId = "bet" }))
                {
                    <input name="id" type="hidden" value="@ViewBag.Id"/>
                    <input name="lastBet" type="hidden" value="@ViewBag.LastBet" />
                    if (ViewBag.LastUser == User.Identity.Name)
                    {
                        <button type="submit" class="button special" disabled>Повысить ставку</button>
                    }
                    else if (ViewBag.Coints >= ViewBag.LastBet + ViewBag.Step)
                    {
                        <button type="submit" class="button special">Повысить ставку</button>
                    }
                    else
                    {
                        <button class="button special" disabled>Недостаточно монет</button>
                    }
                    <h4 id="history">История ставок</h4>
                }
            </div>
        </div>
        <p class="descr">@ViewBag.Description</p>
    </div>
</div>


@if (ViewBag.Error != null)
{
    <script>alert("Извините, но ставка была повышена другим пользователем.");</script>
}

<script>
    $('#history').click(function () {
        $('#overlay').fadeIn(400, 
            function () { 
                $('#modal_form')
                    .css('display', 'block') 
                    .animate({ opacity: 1, top: '50%' }, 200); 
            });
    });

    $('#overlay').click(function () { 
        $('#modal_form')
            .animate({ opacity: 0, top: '45%' }, 200, 
            function () { 
                $(this).css('display', 'none'); 
                $('#overlay').fadeOut(400); 
            }
            );
    });
</script>
