<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="/Home/Index" class="logo">
            <img src="/Content/images/logo.png" alt="" />
        </a>
        <nav style="right:150px; top: 55px; color:black;">Баланс: @ViewBag.Coints <span class="icon fa-btc"></span></nav>
        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Menu -->
<nav id="menu">
    <h2>Меню</h2>
    <ul>
        <li>Логин: @User.Identity.Name</li>
        <li>Баланс: @ViewBag.Coints <span class="icon fa-btc"></span></li>
        <li><a href="/Account/LogOff">Выйти</a></li>
    </ul>
</nav>

<!-- Main -->
<div id="main">
    <div class="inner" style="text-align: center;">
        <h1>@ViewBag.Name</h1>
        <div class="" style="display: inline-block; width: 100%;">
            <div class="" style="width: 60%; float: left;">
                <span class="image main">
                    <img src="@ViewBag.Image" alt="" />
                    <h3>До конца аукциона осталось:</h3>
                    <script src="http://megatimer.ru/s/39ac4279881defe5f43037c562db2f34.js"></script>
                </span>
            </div>
            <div class="" style="width: 30%; float: right; margin-top: 2%; margin-right:2%;" id="bet">
                <h2>Текущая ставка:</h2>
                <h4 style="color: black;">@ViewBag.LastUser</h4>
                <h4 style="color: black;">@ViewBag.LastBetTime</h4>
                <h1>@ViewBag.LastBet <span class="icon fa-btc"></span></h1>
                <h2>Шаг ставки:</h2>
                <h1>@ViewBag.Step <span class="icon fa-btc"></span></h1>
                @using (Ajax.BeginForm("Item", "Home", new AjaxOptions { UpdateTargetId = "bet" }))
                {
                    <input name="id" type="hidden" value="@ViewBag.Id"/>
                    <input name="lastBet" type="hidden" value="@ViewBag.LastBet" />
                    if (ViewBag.LastUser == User.Identity.Name)
                    {
                        <button type="submit" class="button special" disabled>Повысить ставку</button>
                    }
                    else if (ViewBag.Coints >= ViewBag.LastBet + ViewBag.Step)
                    {
                        <button type="submit" class="button special">Повысить ставку</button>
                    }
                    else
                    {
                        <button class="button special" disabled>Недостаточно монет</button>
                    }

                }
            </div>
        </div>
        <p style="text-align:justify;">@ViewBag.Description</p>
    </div>
</div>

@if(ViewBag.Error != null)
{
    <script>alert(@ViewBag.Error)</script>
}